#assets-accordion h3 {
    position: relative;
}

#assets-accordion h3 a.unlink-asset {
    position: absolute;
    top: 0;
    right: 0;
    left: inherit;
    padding: 0;
}

.ticket-assets .add-asset {
    padding: 2em 0 0 0;
    text-align: right;
}

/* Colors */

.asset-basics   .titlebox .titlebox-title .left,
.asset-info-cfs .titlebox .titlebox-title .left { background-color: #b32; }
.asset-people   .titlebox .titlebox-title .left { background-color: #48c; }
.asset-dates    .titlebox .titlebox-title .left { background-color: #633063; }
.asset-links    .titlebox .titlebox-title .left { background-color: #316531; }
.ticket-assets  .titlebox .titlebox-title .left { background-color: #316531; }

.asset-basics   .titlebox-title .left, .asset-basics    .titlebox-title .left a,
.asset-info-cfs .titlebox-title .left, .asset-info-cfs  .titlebox-title .left a,
.asset-people   .titlebox-title .left, .asset-people    .titlebox-title .left a,
.asset-dates    .titlebox-title .left, .asset-dates     .titlebox-title .left a,
.asset-links    .titlebox-title .left, .asset-links     .titlebox-title .left a,
.ticket-assets  .titlebox-title .left, .ticket-assets   .titlebox-title .left a {
    color: white;
}

.aileron .asset-basics      .titlebox-title .widget a,
.aileron .asset-info-cfs    .titlebox-title .widget a,
.aileron .asset-people      .titlebox-title .widget a,
.aileron .asset-dates       .titlebox-title .widget a,
.aileron .asset-links       .titlebox-title .widget a,
.aileron .ticket-assets     .titlebox-title .widget a {
    /* lighter color for the toggle arrow sprite, just like aileron/ticket.css */
    background-position: center -7px;
}

/* People */

.asset-people ul.role-members {
    margin-top:     0;
    padding-left:   0;

    list-style: none;
}

.asset-people td {
    vertical-align: top;
}

.asset-people .note {
    font-size: 0.9em;
}

.asset-people .edit h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.asset-people .edit .role h3 {
    margin-bottom: 0.5em;
}

.asset-people .edit .role,
.asset-people .edit .add-group,
.asset-people .edit .add-user {
    margin-bottom: 1em;
}

/* Asset summary */

.ticket-assets .related-tickets {
    margin-top: 1em;
}

.ticket-assets .related-tickets .label a {
    font-weight: bold;
    color: black;
}
